.aplication-process-container{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Hai cột có chiều rộng bằng nhau */
    gap: 10px; /* Khoảng cách giữa các cột */
    padding-top: 3em;
}
.item-title {
  background-color: #121113;
  height: 80px;
  display: flex;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.item-title h1 {
  color: #ffffff;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  margin: 0px 0px 11px;
  text-align: left;
  padding-left: 15px;
}
.aplication-process-title p {
  color: #74757b;
  line-height: 26px;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
}
.aplication-process-title {
  padding: 10px;
}
.aplication-process-title img {
  width: 99%;
  border-radius: 0 64px 0 0;
}
