.aplication-process-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Hai cột có chiều rộng bằng nhau */
  gap: 10px; /* Khoảng cách giữa các cột */
  padding-top: 3em;
  // box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.068) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 15px;
}
.item-title {
  background-color: #11009E;
  height: 80px;
  display: flex;
  margin-left: 53%;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


.aplication-process-1 {
    margin-top: 14em;
}
.item-title h1 {
  color: #ffffff;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;

  margin-left: 30%;
  margin: 0px 0px 7px 20px;
  text-align: center;
  padding-left: 55px;
}
.aplication-process-title p.subTitle {
  color: #74757b;
  left: 54%;
  width: 30.5em;
  position: relative;
  line-height: 26px;
  text-align: center;
  padding-bottom: 20px;
  margin: 20px;
  font-size: 23px;
  padding-top: 20px;
}
.aplication-process-title {
  padding: 10px;
}
.aplication-process-title img {
  width: 99%;
  border-radius: 0 64px 0 0;
}
.aplication-process-now-content {
  padding-top: 40px;
}
.aplication-process-content img {
  width: 7%;
  /* padding: 20px; */
  /* height: 7%; */
  border-radius: 20px;
  box-shadow: rgba(136, 165, 191, 1) 6px 2px 16px 0px, rgba(255, 255, 255, 1) -6px -2px 16px 12px;
}
.aplication-process-content {
  padding: 10px;
  width: 90%;
  display: grid;
}
.aplication-process-content h4 {
  color: #121113;
  font-size: 27px;
  font-weight: 600;
  margin-top: 5px;
  line-height: 47px;
  text-align: left;

}
.aplication-process-content p {
  color: #74757b;
  line-height: 26px;
  font-size: 20px;
  text-align: left;
}
.aplication-process-2 {
  margin-top: 15px;
  margin-left: auto;
  //background-color: #d6e4f0;
}
.aplication-process-3 {
  margin-top: 15px;
}
.aplication-process-now {
  display: grid;
  grid-template-columns: 30% 70%;
}
.aplication-process-now-img {
  grid-column: 1 / 2;
}

.aplication-process-now-content {
  grid-column: 2 / 3;
}

.aplication-process-now img {
  width: 60%;
  border-radius: 0 64px 0 0;
}
.aplication-process-now h4 {
  color: #121113;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.aplication-process-now p {
  color: #74757b;
  line-height: 26px;
  text-align: left;
}
.button-register {
  button {
    margin-top: 15px;
    background: #FBCA1F;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    //border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    color: #000;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
}
/* Responsive CSS */
@media (max-width: 768px) {
  .aplication-process-container {
    grid-template-columns: 1fr; /* Một cột duy nhất khi màn hình nhỏ hơn 768px */
  }
  .button-register button {
    font-size: 0.875em; /* Giảm kích thước chữ khi màn hình nhỏ hơn 768px */
  }
  .item-title h1{
    font-size: 24px;
  }
  .aplication-process-content{
    width: 98%;
    padding: 15px;
  }
}
