.table-contact{
  width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  // margin-left: 20%;
  th,
	td {
		padding: 15px;
		background-color: rgba(255,255,255,0.2);
		color: #fff;
	}
	th {
		text-align: left;
	}
	.thead-contact {
		th {
			background-color: #55608f;
		}
	}

	.tbody-contact {
		tr {
			&:hover {
				background-color: rgba(255,255,255,0.3);
			}
			td.button-info{
				display: flex;
			}
		}
		td {
			position: relative;
			&:hover {
				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: -9999px;
					bottom: -9999px;
					background-color: rgba(255,255,255,0.2);
					z-index: -1;
				}
			}
		}
	}.tbody {
		tr {
			&:hover {
				background-color: rgba(255,255,255,0.3);
			}
		}
		td {
			position: relative;
			&:hover {
				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: -9999px;
					bottom: -9999px;
					background-color: rgba(255,255,255,0.2);
					z-index: -1;
				}
			}
		}
	}
}

.thead-contact{
  background-color: #f5f5f5;
}
@media screen and (max-width: 600px) {
	.table-contact {
	  overflow-x: auto;
	}
  
	.table-contact thead,
	.table-contact tbody,
	.table-contact th,
	.table-contact td,
	.table-contact tr {
	  display: block;
	}
  
	.table-contact thead tr {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	}
  
	.table-contact tr {
	  border: 1px solid #ccc;
	  margin-bottom: 20px;
	}
  
	.table-contact td {
	  border: none;
	  position: relative;
	  padding-left: 50%;
	  white-space: normal;
	  text-align: left;
	}
  
	.table-contact td:before {
	  position: absolute;
	  top: 6px;
	  left: 6px;
	  width: 45%;
	  padding-right: 10px;
	  white-space: nowrap;
	//   content: attr(data-label);
	  font-weight: bold;
	}
	.contact-content{
		display: none;
	}
  }
  
  