.lists{
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  background-color: white;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



.content{
  // height: 100px;
  font-weight: 500;
  color:white;
  width: 100%;
  border: 2px solid  rgba(255, 255, 255, 1);
  border-radius: 9999px;
  background-color: #0081CF;
  padding: 0.625rem 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
  outline: none;
  transition: all .2s ease;
}

.list {
  margin-top: 100px;
  display: flex;
  color:  #163172;
  
  border-bottom: 0.5px solid rgb(90, 88, 88);
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 500;
}




