.document-page {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.document-header {
  //background-color: cornflowerblue;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 70%;
}
.document-header h2{
  font-size: 35px;
}
.document-header p{
  font-size: 20px;
}
.document-container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 5px;
  display: grid;
  border-bottom: 2px solid #3666ea;
  border-top: 2px solid #3666ea;
  grid-template-columns: 1fr 1fr;
  //background-color: rgb(250, 246, 240);
}
.document-component-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  width: 90%;
}
.document-component-content h4{
  background-color: #fee100;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  margin: 0;
}
.document-component-content p{
  margin-top: 15px;
  background-color: #f6f6f7;
  padding: 10px;
  font-size: 20px;
}
.document-component-img img {
  // height: 100%;
  width:70%;
}

.action-document {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563eb;
  padding: 6px 8px;
  border-radius: 4px;
  text-decoration: none;
  width: 130px;
}

.action-document span {
  transition: 0.3s ease;
}

.action-document:hover span {
  transform: translateX(4px);
}
@media screen and (max-width: 768px) {
  .document-container {
    grid-template-columns: 1fr;
  }
  .document-container {
    margin-left: 5px;
    margin-right: 5px;
  }
  .document-component-content {
    width: 99%;
  }
  .document-header {
    text-align: left;width: 90%;
  }
  .document-component-img img {
    width: 90%;}
}