.list-plan-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 22rem);
  grid-gap: 4em;
  padding-top: 3em;
  justify-content: center;
  align-items: center;
}
.pricing-table {
  width: 400px;
  position: relative;
  height: 706px;
  
  display: block;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.pricing-table p {
  color: #74757b;
  font-family: Inter;
  line-height: 26px;
  text-align: left;
}
.package-box {
  position: relative;
  height: 90px;
  display: block;
  background: #f6f6f7;
  padding: 16px 40px 15px 40px;
}

.package-box h4 {
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 3px;
  color: #121113;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0px 0px 3px;
  text-align: left;
}

.pricing-table .table-header {
  position: relative;
  height: 100px;
  display: block;
  padding: 31px 35px 24px 35px;
  background: rgb(14,41,84);
  background: linear-gradient(90deg, rgba(14,41,84,1) 0%, rgba(0,39,65,0.9668242296918768) 54%, rgba(14,41,84,1) 100%);
}

.pricing-table .table-header h2 {
  position: relative;
  display: inline-block;
  font-size: 60px;
  line-height: 40px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 43px;
  color: #fbca1f;
}

.pricing-table .table-header h2 .course {
  position: absolute;
  right: -100px;
  bottom: -17px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}
.pricing-table .table-header h2 .text {
  position: absolute;
  top: -12px;
  right: 0px;
  font-size: 26px;
}

.pricing-table .feature-list li {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lexend", sans-serif;
  color: #121113;
  padding: 13px 0px;
  border-bottom: 1px solid #e8eaed;
  font-family: Lexend;
  font-weight: 500;
  line-height: 26px;
  padding: 13px 0px;
  text-align: left;
}

.pricing-table .feature-list {
  margin-bottom: 20px;
}

.pricing-table .table-content-degree {
  position: relative;
  height: 500px;
  display: block;
  padding: 20px 30px 40px 30px;
}
// .table-content-degree span {
//   color: #75767b;
//   font-weight: 500;
//   line-height: 30px;
//   text-align: right;
// }
.table-content-degree li span {
  display: inline-block;
  float: right;
  color: #75767b;

  font-weight: 500;
  line-height: 26px;
  text-align: right;
}
.button-register-advise {
  button {
    background: #fbca1f;
    font-family: inherit;
    position: absolute;
    bottom: 20px;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    //border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }

  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }

  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
}
@media screen and (max-width: 768px) {
 
}
.list-plan-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-table {
  opacity: 0.9;
  transition: opacity 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.pricing-table.middle-item {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: transform 0.3s ease;
}

.list-plan-card .pricing-table.slide-in {
  transition-delay: 0.3s;
}





