.dang_nhap{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Courier New;
    font-weight: bold;
}
.userName, .passWord{
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.login-link{
    color:navy;
}

.button {
	background: #0066A2;
	color: white;
	height: 50px;
	width: 140px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 220px;
    text-align: center;
}
.userName, .passWord{
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}