h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
input{
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.login-link{
    color:navy;
}

.button {
	background: #0066A2;
	color: white;
	height: 50px;
	width: 100px;
	font: bold 15px arial,sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 150px;
}
.userName, .passWord{
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}