.topnav {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 100%;
  border: none;
}
.mainMenu {
  display: flex;
  text-align: center;
  align-items: center;
}
.logo {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
}
.menu-toggle,
.menu-icon {
  display: none;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  align-items: center;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  padding: 45px 0px;
  font-weight: 700;
  font-family: 'Lexend', sans-serif;
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #d6e4f0;
  color: black;
  border-radius: 4px;
}

.submenu a {
  margin-left: 0;
  margin-right: 30px;
}
.submenu {
  float: right;
  display: flex;
  align-items: center;
}
.fast-info {
  position: absolute;
  top: 0.5%;
  left: 75%;
  z-index: 9999;
}
.mainMenu a.active {
  background-color: #d6e4f0;
  border-radius: 3px;
}
.custom-active {
  background-color: none;
}

.submenu {
  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }

  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign svg {
    width: 17px;
  }

  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }

  .Btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px, 2px);
  }
}
.hotline {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 50px;
  width: 250px;
  height: 60px;
  padding: 20px;
  background-color: #d6e4f0;
  color: black;
}
@media only screen and (max-width: 768px) {
  .hotline {
    display: none;
  }
  .logo-img {
    display: none;
  }
  .submenu.fast-info {
    display: none;
  }
  .mainMenu {
    display: none;
  }
  .menu-toggle:checked ~ .mainMenu a {
    display: block;
  }
  .menu-toggle:checked ~ a:not(.menu-icon) {
    display: block;
  }

  // .submenu {
  //   display: none;
  // }

  .menu-icon {
    display: block;
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .menu-toggle:checked ~ .mainMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .menu-toggle:checked ~ .submenu {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 20px;
  }
}

.menu-toggle:checked ~ .submenu  {
  display: flex;
}


