.navbar-home {
  background-color: #fff;
  padding: 10px 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.fast-contact-home {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.group-nav-home{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}
.nav-home {
  display: flex;
  align-items: center;
}
.nav-link-home{
  color: #111;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}
.li-register-nav{
  background-color: #111;
  border-radius: 5px;
}
.nav-link-home-register{
  color: #fff;
}
li{
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 10px;
  //margin-left: 10px;
}
.li-nav-home:hover{
  background-color: #30a4d1;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 8px;
  .nav-link-home{
    color: #fff;
  }
}
.logo-nav-mobile{
  width: 60px;
  height: 60px;
}
.list-menu{
  width: 40px;
  height: 40px;
}
.nav-header-mobile{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.popup-mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}
.title-nav-mobile{
  font-size: 1rem;
  font-weight: 600;
  color: #111;
}
.title-nav-mobile-1{
  font-size: 0.8rem;
  font-weight: 600;
  color: #111;
}
.component-nav-mobile{
  justify-content: center;
  align-items: center;
}
.title-nav-home{
  width: 700px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 20px;
}