.register-advise-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Hai cột có chiều rộng bằng nhau */
  gap: 10px; /* Khoảng cách giữa các cột */
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.register-advise-content {
  display: block;
  padding: 20px;
}
.register-advise-content h1 {
  color: #121113;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
}
.register-advise-content p {
  color: #74757b;
  font-size: 24px;

  line-height: 26px;
  margin: 2em 0px 4em 0px;
  text-align: left;
}
.input-info-register {
  display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}
.input-info-register input {
  margin-bottom: 10px;
}
.register-advise-img img{
  width: 100%;
  height: 100vh;
}
.register-advise-content {
  .input {
    width: 100%;
   
    background-color: #e2eef0;
    color: #242424;
    padding: 0.15rem 0.5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }

  input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }

  input:hover {
    outline: 1px solid lightgrey;
  }
}
.radio-input input {
  display: none;
}
.button-register-advise {
  button {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    //border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    margin-top: 15px;
    color: #000;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
}
.container-radio-input form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
}

.container-radio-input label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  //overflow: hidden;
  margin-bottom: 0.375em;
}

.container-radio-input  label input {
  position: absolute;
  left: -9999px;
}

.container-radio-input label input:checked + span {
  background-color: #2c91d4;
  color: white;
}

// .container-radio-input label input:checked + span:before {
//   box-shadow: inset 0 0 0 0.4375em #35bed6;
// }

.container-radio-input label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #4141b4;
}

.container-radio-input label span:hover {
  background-color: #d6d6e5;
}

.container-radio-input label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.popup-confirm-finish {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
}

.popup-inner-confirm-finish {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Thêm các kiểu khác cho nút đóng hoặc nội dung bên trong */


@media screen and (max-width: 768px) {
  .register-advise-container {
    grid-template-columns: 1fr; /* Chỉ có một cột */
  }
  .register-advise-img img{
    display: none;
  }
  .register-advise-content h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

/* Các media query khác tùy thuộc vào nhu cầu thiết kế của bạn */
@media screen and (max-width: 480px) {
  .register-advise-container {
    grid-template-columns: 1fr; /* Chỉ có một cột */
    gap: 5px; /* Khoảng cách giữa các cột nhỏ hơn */
    padding-top: 2em; /* Khoảng cách trên cùng nhỏ hơn */
  }
}