input{
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    border: none;
    border: 1px solid #555;
}

button {
	background: #0066A2;
	color: white;
	height: 50px;
	width: 100px;
	font: bold 15px arial,sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}