.form-add-document {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  .form-add-document h1{
    margin-bottom: 10px;
  }
  .form-add-document input,
  .form-add-document textarea,
  .form-add-document select {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  
  .button-add-document {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button-add-document input[type="submit"],
  .button-add-document input[type="button"] {
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    margin: 0 10px;
  }
  
  .button-add-document input[type="submit"] {
    background-color: #4ee173;
    color: #fff;
  }
  .button-add-document input[type="button"] {
    background-color: #e74c3c;
    color: #fff;
  }
  @media screen and (max-width: 600px) {
    .small-container {
      padding: 0 0.5rem;
    }
  
    .form-add-document {
      width: 95%;
      max-width: none;
    }
    
  }
  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #6895dc;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 350px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    margin: 9px;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }