.header-info{
    padding-bottom: 15px;
}
.header-info {
    button {
        margin: 15px;
        width: fit-content;
        min-width: 100px;
        height: 45px;
        padding: 8px;
        border-radius: 5px;
        border: 2.5px solid #E0E1E4;
        box-shadow: 0px 0px 20px -20px;
        cursor: pointer;
        background-color: #209978;
        transition: all 0.2s ease-in-out 0ms;
        user-select: none;
        font-family: 'Poppins', sans-serif;
        color: white;
      }
      
      button:hover {
        background-color: #17795E;
        box-shadow: 0px 0px 20px -18px;
      }
      
      button:active {
        transform: scale(0.95);
      }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}
thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}
.striped-table-info tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.contain-table-info {
  overflow-x: auto;
}
.text-left-info {
  text-align: left;
}
.button-info {
    button {
        width: fit-content;
        min-width: 100px;
        height: 45px;
        padding: 8px;
        border-radius: 5px;
        border: 2.5px solid #E0E1E4;
        box-shadow: 0px 0px 20px -20px;
        cursor: pointer;
        background-color: white;
        transition: all 0.2s ease-in-out 0ms;
        user-select: none;
        font-family: 'Poppins', sans-serif;
      }
      
      button:hover {
        background-color: #F2F2F2;
        box-shadow: 0px 0px 20px -18px;
      }
      
      button:active {
        transform: scale(0.95);
      }
}
@media (min-width: 600px) {
  .contain-table-info {
    width: 100%;
  }
}

.searchByID {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}
.info-search{
  background-color: #288af2;
  width: 50%;
  // height: 80px;
  text-indent: 20px;
  color: white;
  border-radius: 10px;
  margin-top: 3%;
  padding-top: 10px;
  padding-bottom: 10px;

  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.no-user {
  text-align: center;
  
}

.student-info{
  font-size: 20px;
  margin-left: 10%;
}
.info-content{
  font-size: 15px;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-button{
  // margin-right: 20%;
  border: white 2px solid;
}
.add-button{
  margin-left: 60%;
}
.updatePW-button{
  margin-right: 0px;
}
