.main-sidebar-admin {
  //width: 80%;
  display: flex;
  margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;

  .sidebar-admin {
    width: 200px;
    height: 100vh;
    background-color: #f1f1f1;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 10px;
      transition: background-color 0.3s ease;
    }

    li:hover {
      background-color: #e0e0e0;
      border-bottom: 1px solid #ccc;
    }
  }

  .sidebar-admin ul li a {
    text-decoration: none;
    color: #333;
  }

  .content-sibebar-admin {
    padding: 20px;
    width: 100%;
    	
  }
}

@media (max-width: 768px) {
  .main-sidebar-admin {
    flex-direction: column;

    .sidebar-admin {
      width: 100%;
      height: auto;
    }

    .content-sibebar-admin {
      flex-grow: 0;
    }
  }
}
